spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    url: jdbc:postgresql://localhost:15432/postgres
    username: kiles
    password: 1234
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
    tomcat:
      default-auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  freemarker:
    expose-request-attributes: true
